<p>
    Search:
    <input class="search">
</p>

<p>
    Sort by:
    <select class="sort">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
    </select>
</p>
